* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgb(233, 231, 226);


}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 10vh;
    /* top: 0;
    left: 0;*/
}

.logo {
    position: absolute;
    top: 10px;
    left: 49%;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    letter-spacing: 1rem;
}

header ul {
    display: flex;
}

header ul li {
    position: relative;
    left: 11%;
    list-style: none;
    margin-left: 8rem;
    align-self: flex-end;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: .7rem;
    align-self: flex-end;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header ol {
    display: flex;
    flex: wrap;
    position: relative;
    left: 15%;
    top: 15%;
}

header ol li {

    display: flex;
    list-style: none;
    margin-left: 1.5rem;
    list-style: none;
}

header ol li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
}

header ol li a:hover {
    cursor: pointer;
}

.bag {
    color: black;
}

.ti {
    color: rgb(240, 9, 9);
    text-decoration: none;
    list-style: none;
}

/* .yoyo {
    color: black;
    padding-right: 10px;
    text-transform: lowercase;
} */
.cart .yoyo {
    vertical-align: bottom;
    font-size: 20px;
    padding-left: 5px;
}

.cart a {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    margin-left: 50px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/* --------------cart page ------------------ */

.products-container {
    max-width: 650px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;

    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;

}


.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}


.footer {
    display: flex;
    margin-top: 550px;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #c7c4c4;
    background-color: rgb(36, 32, 32);
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: rgb(252, 252, 252);
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 100px;
    color: #ffffff;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: rgb(255, 255, 255);
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #e90000;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}